name: CI
on: [push, pull_request]
jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
      - name: Test
        run: deno test --allow-net --allow-read=.
      - name: Publish on tag
        run: deno run -A jsr:@david/publish-on-tag@0.2.0
      - name: Get tag version
        if: startsWith(github.ref, 'refs/tags/')
        id: get_tag_version
        run: echo ::set-output name=TAG_VERSION::${GITHUB_REF/refs\/tags\//}
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
      - name: npm build
        run: deno task build:npm ${{steps.get_tag_version.outputs.TAG_VERSION}}
      - name: npm publish
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cd npm
          npm publish --access public
